@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-zinc-900;
  @apply text-zinc-50;
  @apply w-full;
  @apply h-full;
  overflow: hidden;
}

* {
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* 스크롤 트랙(배경) 투명 */
}

::-webkit-scrollbar-thumb {
  background: #888; /* 스크롤바 색상 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
