<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder">
            <customFields>{"logType":"access-log"}</customFields>
            <fieldNames>
                <requestHeaders>request_headers</requestHeaders>
            </fieldNames>
        </encoder>
    </appender>
    <appender-ref ref="JSON"/>
</configuration>
