<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="Stash" class="net.logstash.logback.appender.LogstashAccessTcpSocketAppender">
        <destination>${LOGSTASH_URL}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder">
            <customFields>{"logType":"access-log"}</customFields>
            <fieldNames>
                <requestHeaders>X-Real-IP</requestHeaders>
            </fieldNames>
        </encoder>
        <keepAliveDuration>5 minutes</keepAliveDuration>
    </appender>
    <appender-ref ref="Stash"/>
</configuration>
