<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="local | test">
        <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>[SERVER] %d{yyyy/MM/dd:HH:mm:ss Z} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            </layout>
        </appender>
        <root level="INFO">
            <appender-ref ref="Console" />
        </root>
    </springProfile>
    <springProfile name="dev">
        <appender name="Stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${LOGSTASH_URL}</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
            <keepAliveDuration>5 minutes</keepAliveDuration>
        </appender>

        <root level="DEBUG">
            <appender-ref ref="Stash" />
        </root>
    </springProfile>
</configuration>

