<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[ACCESS] %t{yyyy/MM/dd:HH:mm:ss Z} %reqAttribute{requestId} %h %l %u "%r" %s %b</pattern>
        </encoder>
    </appender>
    <appender-ref ref="STDOUT"/>
</configuration>
