<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="local | test">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <Pattern>[SERVER] %d{yyyy/MM/dd:HH:mm:ss Z} %X{requestId} %X{requestPlayerId} [%thread] %highlight(%-5level) %logger{36} - %msg%n</Pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="STDOUT" />
        </root>
        <logger name="org.testcontainers" level="INFO"/>
        <logger name="tc" level="INFO"/>
        <logger name="com.github.dockerjava" level="WARN"/>
        <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="OFF"/>
    </springProfile>
    <springProfile name="dev">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"logType":"app-log"}</customFields>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON" />
        </root>
        <logger name="org.testcontainers" level="INFO"/>
        <logger name="tc" level="INFO"/>
        <logger name="com.github.dockerjava" level="WARN"/>
        <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="OFF"/>
    </springProfile>
</configuration>

