/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@use "vuetify/settings" with (
  $overlay-opacity: 0.75,
  $switch-track-background: var(--primary-100),
  $switch-thumb-background: var(--primary-450)
);

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSansCJKjp.otf");
}

:root {
  --translucent-background-color: #000000cc;
  --background-color: #141517;
  --primary-50: #141517;
  --primary-100: #1c1e21;
  --primary-200: #26282c;
  --primary-300: #2f3237;
  --primary-400: #393c41;
  --primary-450: #42464c;
  --secondary: #6bcbd3;
  --error-50: #34090e;
  --error-100: #570f18;
  --error-200: #ae1e2e;
  --error-300: #e15161;
  --error-400: #f0a8b0;
  --error-450: #f9dcdf;
  --font-dark: #1c2525;
  --font-light: #dfe2ea;
  --font-primary: #4fe2de;
}

html,
body {
  background-color: var(--background-color);
  color: var(--font-light);
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "NotoSans", sans-serif;
}

svg {
  fill: var(--font-light);
  width: 100%;
  height: 100%;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
